{
  CIDER: {
    dependencies: {
      nuget: "nuget-dependencies",
      tatin: "tatin-dependencies",
    },
    dependencies_dev: {
      tatin: "tatin-dependencies_dev",
    },
    distributionFolder: "Dist",
    init: "load",
    make: "",
    parent: "#",
    projectSpace: "RadarIngestSystem",
    project_url: "http://github.com/RadarPlane/RIS",
    source: "APLSource",
    tests: "",
    version: "0.0.2",
  },
  LINK: {
  },
  SYSVARS: {
    io: 0,
    ml: 1,
  },
  USER: {
  },
}
